i{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block head_title %}
{{title}}
{% endblock%}

{% block content %}

{{block.super}}

<div class="row">
    <div class="col">

        <div class="fa-stack fa-lg fa-5x">
            <div class="fa fa-circle fa-stack-2x "></div>
            <div class="fa fa-500px fa-stack-1x fa-inverse fa-spin"></div>
        </div>
    </div>

    <div class="col-3">

        <h1> {{title}}</h1>
        <img src="{% static 'img/test.jpg' %}" alt="My image">

    </div>
    <div class="col-7">
        {% if queryset %}
        {% for instance in queryset %}
        <table class="table">
            <tr>
                <td>
                    {{forloop.counter}}
                </td>
                <td>
                    {{instance.email}}
                </td>
                <td>
                        {{instance.full_name}}
                </td>
                <td>
                        {{instance.timestamp|timesince}} ago
                </td>
            </tr>
        </table>
        {% endfor %}


                Total Record: {{queryset.count}}
                {% endif %}

       
    </div>

    {% if not request.user.is_authenticated and not request.user.is_staff %}
    <div class="col">
        <form action="" method="POST">{% csrf_token %}
            {{form|crispy}}
            <br>
            <input class="btn btn-primary" type="submit" value="Submit">
        </form>


    </div>
    <div class="col">
        {% include "registration/login.html" %}

    </div>

    {% endif %}
</div>


{% endblock content %}